.service-container-parent{
    width: 450px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-image{
    background-color: #F0EEEE;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 250px;
    margin-top: 20px;
    border-radius: 40px;
    border: 1px solid black;
}

.service-desc-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-description h2{
    text-align: center;
}

.service-btn button{
    margin-top: 20px;
    border-radius: 20px;
    height: 50px;
    width: 130px;
    background-color: #108424;
    color: white;
    border: 0px;
}

.service-btn button a{
    color: white;
    text-decoration: none;
}

.service-btn button:hover{
    background-color: #118d26d8;
    cursor: pointer;
}

.service-btn button:active{
    transform: scale(0.96);
    
}

.service-price p{
    text-align: center;
}

