.result-master{
    margin: 20px;
}

.result-master h1{
    text-align: center;
}

.result-master h2{
    color: #108424;
    font-size: 40px;
}

.result-container{
    display: flex;
}

.result{

    display: flex;
    align-items: center;
    width: 50%;

}

.foot-image-container{
    display: flex;
    justify-content: end;
    width: 45%;

}

.foot-image-container img{
    height: 350px;
}

.key-container-parent{
    background-color: #F0EEEE;
    width: 100%;
    height:300px;
}

.result-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;
}

.save-score-btn .service-btn{
    display: flex;
    justify-content: center;
}

.save-score-btn .service-btn button{
    width: 350px;
    border-radius: 10px;
}
