.payment-btn button{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #108424;
    border: none;
}

.payment-btn button:hover{
    background-color: #108423dc;
    cursor: pointer;
}
